body * {
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 150px;
  background: gray;
  border: solid black 1px;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid black 1px;
}

.headerBox h3 {
  width: min-content;
  border: solid green 1px;
}

#firstSection {
  display: grid;
}
