body * {
  box-sizing: border-box;
  font-family: 'Roboto';
}

nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 150px;
  background: gray;
  border: solid black 1px;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid black 1px;
}

.headerBox h3 {
  width: min-content;
}

section {
  margin: 10px 0 10px 0;
}

#firstSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 790px 790px;
  background: gray;
}

.firstSectionFloat{
  margin-top: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#titleFloat{
  display: inline-block;
  color: white;
  font-size: 26px;
  font-weight: bold;
  background: black;
  padding: 5px;
}

.firstSectionBox {
  display: flex;
  border: solid blue 1px;
  align-items: center;
  justify-content: center;
}

.firstSectionBox h1 {
  width: 80%;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
}

#secondSection {
  border: solid black 1px;
  background: gray;
  color: white;
}

.secondSectionBox1 {
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 800px;
}

.secondSectionBox {
  border: solid black 1px;
}

.secondSectionBox2 {
  border: solid black 1px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 800px;
}

.secondSectionBox3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 800px;
}

#thirdSection {
  height: 800px;
  color: white;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personWeekBox {
  display: flex;
}

.personWeekRight {
  padding: 10px;
}

.personWeekRight h3 {
  font-size: 20px;
}

#fourthSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.fourthSectionBox {
  border: solid black 1px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 200px;
}

.fourthSectionLeft {
  display: flex;
  align-items: center;
  padding: 10px;
}

.fourthSectionLeft img {
  border-radius: 10px;
}

#fifthSection {
  border: solid black 1px;
}

.fifthSectionBox {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 300px;
  color: white;
  background: #6b6b6b;
}

.fifthSectionLeft {
  padding: 40px 80px 40px 70px;
}

.fifthSectionRight img {
  height: 250px;
  width: 200px;
}

#sixthSection * {
  border: solid green 1px;
}

#sixthSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 800px;
}

.sixthSectionBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sixthSectionBox li   {
  padding: 0;
}

/*
li {
    list-style-type:none;
    background-image:url(bullet.png);
}
*/
